<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Personal Dashboard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Include datepicker -->
  <!-- http://t1m0n.name/air-datepicker/docs/ -->
  <link href="dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
  <script src="dist/js/datepicker.min.js"></script>
  <script src="dist/js/i18n/datepicker.en.js"></script><!-- Include English language -->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <form class="pure-form" action="/events" method="get">
        <div class="form-row">
          <div class="col">
            <input type="text" placeholder="City" name="city" th:attr="value = ${city}"
                   id="criteria-city"
                   class="form-control">
          </div>
          <div class="col">
            <input type="text" placeholder="dates" name="dates" th:attr="value = ${dates}"
                   id="criteria-dates"
                   class="form-control datepicker-here"
                   data-language="en"
                   data-multiple-dates="true"
                   data-multiple-dates-separator=", "
                   data-date-format="yyyy-mm-dd">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-sm table-dark table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Dates</th>
          <th scope="col">City</th>
          <th scope="col">Place</th>
          <th scope="col">Provider</th>
          <th scope="col">Purchase</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="event, iStat : ${events}">
          <th scope="row" th:text="${iStat.count}">1
          <td><a th:href="@{${event.descriptionUri}}" th:text="${event.title}">Hamlet</a></td>
          <td th:text="${event.date}">2000-01-01 12:00</td>
          <td th:text="${event.city}">Warszawa</td>
          <td th:text="${event.place}">Teatr Dramatyczny</td>
          <td th:text="${event.provider}">Multiteatr</td>
          <td><a th:href="@{${event.purchaseUri}}">Buy Ticket</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>